[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ultralytics = "*"
flask = "*"
pandas = "*"
easyocr = "*"
matplotlib = "*"
gradio = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
flask-cors = "*"
icecream = "*"
flask-socketio = "*"
redis = "*"
rq = "*"
flask-rq2 = "*"

[dev-packages]

[requires]
python_version = "3.12"
